@import "color.css";

.container{
    display: grid;
    height: 100vh;
    grid-template-columns:1% 2fr 1fr 1%;
    grid-template-rows: 1fr 0.6fr 6fr 1fr;
    
    grid-template-areas: 
    ". header header ."
    ". nav nav ."
    ". main aside ."
    ". footer footer .";
}
header{
    grid-area: header;
    background-color: var(--background-color);
    color: var(--text-color);
    text-align: center;
    padding-top: 30px;
    font-size: xx-large;
}
.navbar{
    top: 50px;
    grid-area: nav;
}
.navbar ul{
    list-style-type: none;
    background-color: var(--accent-color);
    padding: 0;
    margin: 0;
   
    overflow: hidden;
}
.navbar a {
    color: black;
    text-decoration: none;
    padding: 25px;
    display: block;
    text-align: center;
    color: var(--text-color);
    font-size: large;
}
.navbar a:hover {
    background-color: var(--primary-color);
    transition: 1s;
}
.navbar li {
    float: left;
}
main{
    grid-area: main;
    background-color:var(--primary-color);
    color: var(--text-color);
    padding: 10px;
}
aside{
grid-area: aside;
background-color: var(--primary-color);
color: var(--text-color);
}
footer{
    grid-area: footer;
    background-color: var(--background-color);
    color: var(--text-color);
    text-align: center;
}
img{
    height: 88%;
    width: 97%;
    margin-top: 35px;
    margin-right: 35px;
    border-radius: 5%;
    
}
#kontakta{
    font-size: x-large;
}

.form{

    width: 40%;
}

.innerform{
    display: flex;
    flex-wrap: wrap;
    
}

.innerform label{
    width: 30%;
}
input{
    width:50%
}
textarea{
    width: 100%;
}
#button{
    width: 12%;
    margin-left: 68%;
}
#message{
    width: 80%;
}
@media (max-width:500px)
{
    .container{
        display: grid;
        min-height: 100vh;
        grid-template-columns:1% 1fr 1%;
        grid-template-rows: auto auto auto auto auto;
        
        grid-template-areas: 
        ". header  ."
        ". nav ."
        ". main ."
        ". aside ."
        ". footer .";
    }
    
}